body {
  font-family: Arial, sans-serif;
  background-color: #d6f5a6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input-error{
  border: none;
  background-color: rgb(178 0 0 / 31%);
}
.input-error::placeholder{
  color: rgb(138 1 1 / 89%);
}

.login {
  background-color: #f0f9f4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  color: #3baf36;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group input {
  width: calc(100% - 24px);
  padding: 12px;
  border: 1px solid #a3d8a2;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  font-size: 16px;
  color: #3baf36;
}

.input-group input:focus {
  border-color: #65e165;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #a3d8a2;
  transition: 0.3s;
  pointer-events: none;
  background-color: #f0f9f4;
  padding: 0 5px;
  font-size: 14px;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -12px;
  font-size: 12px;
  color: #65e165;
}

.form-footer {
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

button {
  background-color: #3baf36;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #65e165;
}

